<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298337526973-lhjc5pudcii8pggfjlgh8lsdu0c2mtvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298337526973-lhjc5pudcii8pggfjlgh8lsdu0c2mtvl</string>
	<key>API_KEY</key>
	<string>AIzaSyB2nml7hxxzVzkyJ8N-orJIuq6ucmd3srU</string>
	<key>GCM_SENDER_ID</key>
	<string>298337526973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-8aa99</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-8aa99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298337526973:ios:6cd7e6b6c6d38bd87043d4</string>
</dict>
</plist>